@define-color foreground #d7d2ce;
@define-color background #03142D;
@define-color cursor #d7d2ce;

@define-color color0 #03142D;
@define-color color1 #ECB079;
@define-color color2 #1F6E8B;
@define-color color3 #5E7089;
@define-color color4 #2D94A7;
@define-color color5 #5AA5B1;
@define-color color6 #58BDC8;
@define-color color7 #d7d2ce;
@define-color color8 #969390;
@define-color color9 #ECB079;
@define-color color10 #1F6E8B;
@define-color color11 #5E7089;
@define-color color12 #2D94A7;
@define-color color13 #5AA5B1;
@define-color color14 #58BDC8;
@define-color color15 #d7d2ce;
